@charset "UTF-8";

body{
    background: linear-gradient(135deg, #eaf6fd, #e2eba3, #f7c6bd,#c5a3cb) fixed;
    background-size: 1000% 1000%;
    animation: GradietionAnimation 10s ease infinite;
}

@keyframes GradietionAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1{
    color: #26453d;
}

h3{
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        text-align: center;
        background-color: white;
        margin-top: 10000px;
        border-width: 25px;
        border-style: groove;
}
h5{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    text-align: center;
    background: linear-gradient(25deg, #db4d6d 25%, #81c7d4 75%);
}

audio:hover{
    background: linear-gradient(90deg,#d0104c,#113285 ) fixed;
    background-size: 500% 500%;
    animation: GradietionAnimation 1s ease infinite;
}

.btn{
    display: inline-block;
    border-radius: 8px;
}
.btn:hover{
    background-color: #ed784a;
}

.btn1{
    display: inline-block;
    border-radius: 8px;
}
.btn1:hover{
    background-color: #ed784a;
}

.youtube1{
    border-width: 4px;
    border-style: inset;
}

.easter-egg{
    opacity:0;
}

.btn2{
    width: 200px;
    height: 10px;
    box-sizing: border-box;
    cursor: wait;
    opacity:0;
}
